*{
    margin:0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

.grid-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: 1fr 6fr 1fr;
}

header{
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sideRight div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer{
    grid-column: span 3;
}
