@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
.zain-extralight {
    font-family: "Zain", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .zain-light {
    font-family: "Zain", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .zain-regular {
    font-family: "Zain", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .zain-bold {
    font-family: "Zain", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .zain-extrabold {
    font-family: "Zain", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .zain-black {
    font-family: "Zain", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .zain-light-italic {
    font-family: "Zain", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .zain-regular-italic {
    font-family: "Zain", serif;
    font-weight: 400;
    font-style: italic;
  }

:root{
    --default-font: 'Zain', 'Sans-serif';
}

/*
    TODO: Fix overflow issue -> js timeout + css mal vec placa za sidebar
    Hover nad button input k kaze spawn speed in to -> neki z before in after myb?
*/

*{
    margin:0;
    padding: 0;
    /*outline: 1px solid red;*/
}

html, body{
    height: 100%;
    width: 100%;
}

.background{
    position: fixed;
    height: 100%;
    width: 100%;
    background: url(../img/wp3776037-autumn-forest-wallpapers.jpg) no-repeat;
    background-size: 100%;
    opacity: .4;
    z-index: -1;
}

.grid-container{
    width: 100%;
    height: 100%;
    display: grid;
    z-index: 2;
    font-family: var(--default-font);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.maze{
    position: relative;
    height: 484px;
    width: 484px;
}

.tree{
    position: absolute;
    left: 170px;
    top: -130px;
}

.leafHolder{
    display: none;
    position: absolute;
    height: 20px;
    width: 20px;
    left: calc(234px - 10px); /* off - 10*/
    top: calc(2px - 11px);  /* off - 11*/
}

.leafHolder > svg{
    height: 20px;
    width: 20px;
}

.maze > svg{
    height: 100%;
    width: 100%;
}

.drawingBoard{
    position: absolute;
    display: grid;
}

.sideLeft{
    position: fixed;
    background: hsla(0, 0%, 93%, 0.459);
    width: 0dvw;
    height: 100vh;
    transition: width 200ms ease-in-out;
}

.sideLeft > .sideContent{
    overflow: hidden;
}

.sideLeft.active{
    position: fixed;
    padding: 0 .3rem;
    width: 15rem;
    transition: width 200ms ease-in-out;
}   

.showMenu{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: white;
    border-radius: 0 5px 5px 0;
    height: 16px;
    width: 16px;
    top: 10%;
    left: 100%;
    z-index: 2;
}

.showMenu.active{
    display: flex;
}

.showMenu span{
    display: flex;
}

.showMenu span svg{
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
    transition: .2s ease;
}

.showMenu.open span svg{
    transform: rotate(360deg);
    transition: .2s ease;
}

.showMenu:hover{
    cursor: pointer;
}

.sideContent{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    height: 100%;
}

.desc{
   display: flex;
   align-items: center;
   flex-direction: column;

}

.sideMenuLeft{
    display: flex;
    flex-direction: column;
    min-height: 12rem;
}

.dropdown-container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-sizing: border-box;
}

.dropdown-container button{
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    color: #fff;
    height: 2rem;
    width: 100%;
    border: none;
    border-radius: 15px;
    background: rgb(233,185,28);
    overflow: hidden;
}

.dropdown-container > button{
    justify-content: space-between;
}

.dropdown-container button > span{
    display: inline-flex;
    justify-content: center;
    font-family: var(--default-font);
    font-size: 1rem;
}

.dropdown-container button > span:first-child{
    flex-grow: 1;
}

.dropdown-container button > span{
    height: 24px;
    width: 24px;
}

.dropdown-svg{
    transform: rotate(-90deg);
    margin-right: .2rem;
    fill: black;
    transition: 100ms ease;
}

.rotate .dropdown-svg{
    transform: rotate(-270deg);
    transition: 200ms ease;
}

.dropdown-container button:enabled:after{
    content: '';
    position: absolute;
    height: 2rem;
    top:0;
    bottom: 0;
    width: 100%;    
    background: rgb(233,185,28);
    background: linear-gradient(90deg, rgba(233,185,28,1) 0%, rgba(219,154,23,1) 25%, rgba(206,123,18,1) 50%, rgba(190,71,27,1) 75%, rgba(174,19,36,1) 100%);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform: translate3d(-100%, 0, 0);
    z-index: -1;
}

.dropdown-container button:enabled:hover::after{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.dropdown-container button:enabled{
    cursor: pointer;
    transition: ease-in-out .1s;
}

.dropdown-container button:enabled:hover{
    scale: 1;
    transition: ease-in-out .1s;
}

.dropdown-container button:disabled{
    opacity: .5;
}

.dropdown-container button:disabled{
    cursor: not-allowed;
}

.dropdown-container > .sub-menu{
    margin-left: 1rem;
    overflow: hidden;
    height: 0px;
    transition: height 1s ease-in;
}

.dropdown-container > .sub-menu.active{
    transition: height 1s ease-in;
    height: auto;
}

.dropdown-container > .sub-menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.dropdown-container:last-child{
    margin-top: .5rem;
}

.adjustPolyline > span{
    font-size: 1.2rem;
}

.slider-container{
    display: grid;
    grid-template-columns: 24px 1fr 24px;
    position: relative;
}

.slider-container span{
    height: 24px;
    width: 24px;
}

.slider-container span:first-child svg{
    height: 100%;
    width: 100%;
}

.inputContainer{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.inputContainer.alone{
    position: relative;
    grid-column: 2;
}

.slider-container input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    position: relative;
    width: 100%;
}

/*FurryFox*/

input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 50%;
    border: 1px solid;
    position: relative;
    background: white;
    z-index: 2;
}
/*
TODO: Popravi tooltip

.toolTip{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    top: -25px;
    background: white;
    border: 1px solid;
    border-radius: 5px;
    opacity: 1;
}
*/
.slider-container input[type="range"]::-moz-range-track{
    background: linear-gradient(90deg, rgba(233,185,28,1) 0%, rgba(219,154,23,1) 25%, rgba(206,123,18,1) 50%, rgba(190,71,27,1) 75%, rgba(174,19,36,1) 100%);
    height: .4rem;
    border-radius: 20px;
    z-index: 1;
}

.slider-container input[type="range"]:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}


/*Use ostalo*/
.slider-container input[type="range"]::-webkit-slider-runnable-track{
    background: linear-gradient(90deg, rgba(233,185,28,1) 0%, rgba(219,154,23,1) 25%, rgba(206,123,18,1) 50%, rgba(190,71,27,1) 75%, rgba(174,19,36,1) 100%);
    height: .4rem;
    border-radius: 20px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background: white;
    border: 1px solid;
    margin-top: -6px;
}

footer{
    display: flex;
    align-items: end;
}